.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-deactive {
  filter: brightness(0.7);
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--slider-height) - 8px);
  width: calc(var(--slider-height) - 8px);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(
    calc(var(--slider-width) - var(--slider-height))
  );
  -ms-transform: translateX(calc(var(--slider-width) - var(--slider-height)));
  transform: translateX(calc(var(--slider-width) - var(--slider-height)));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}
